.form-appoint {
    width: 25%;
    padding: 15px;
    margin: 0 auto;
}
.msg {
    margin: 30px auto; 
    padding: 10px; 
    border-radius: 5px; 
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    width: 50%;
    text-align: center;
}
.table-data {
    width: 75%;
    padding: 15px;
    margin: 0 auto;
}
h1 {
    color: lime;
}
.form-control{
    margin-bottom: 5px;

}
#edit {
	display:none;
}
#btned {
	display:none;
}